#sidebar{
  position:fixed;
  float: left;
  width: 100px;
  height: 400px;
  background-color: #EBD46E;
  border-radius: 5%;
  text-align: center;
}
#sidebar li a{
  display: block;
  width: 60px;

}
#sidebar ul{
  list-style: none;
}
#container{
  margin-left: 120px;
  float: right;
  margin-right: 200px;
}
.profile{
  text-align: center;
}
.profile p{
  font-size: 16pt;
}
.profile img{
  border-radius: 50%;
}
.social{
  text-align: center;
}
.social ul{
  list-style: none;
}
.pictures h2{
  text-align: center;
}
.pictures img{
  height: 200px;
  width: 200px;
  border-radius: 50%;
}
body{
  background:#DADEF2;
}
.about{
  text-align: center;
}
